<Html>
    <head>
        <meta charset:"UTF-8">
        <meta name="viewport" content="width-device-width ,initial-scale=0.1">
        <title>REGISTRATION </title>
        <link rel="stylesheet" href="reg.css">
        </head>
        <body>
         <div class="hii">
            <h1>REGISTRATION</h1>
            <form action="#">
                <p>FULLNAME</p>
                <input type="text" name="fullname" placeholder="fullname">
                <P>USERNAME</P>
                <input type="text" name="username" placeholder="username">
               <P>EMAIL</P>
                <input type="email" name="email" placeholder="email">
                <P>PASSWORD</P>
                <input type="password" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <P>RE-ENTER PASSWORD</P>
                <input type="password" name="re-enter password" placeholder="re-enter password">
               <P>NUMBER</P>
                <input type="number" name="phone number" placeholder="phone number">
                <button type ="submit">submit
                    <a href="login.html"></a>
                    </button>
            </form>
         </div>
        </body>
        </Html>